
.site{
    background-color: #B5E5CF;
    direction: rtl;
    padding: 15px;
    font-size: 22px;
    margin: 50px 10%;
    border-top: #FCB5AC 5px solid;
}

.text{
    text-align: center;
    padding: 0 20px;
    line-height: 45px;
}

.links{
    background-color: #B99095;
    padding: 0 30px;
    cursor: pointer;
    border-radius: 3px;
    float: left;
    box-shadow: darkgrey 1px 1px;
}